<h1>What item would you like to add to your cart?</h1>
<form action="/checkout" method="post">
<label for="add_to_cart">Item: </label>
<input type="text" name="item" id="add_to_cart">
<input type="submit" value="submit">
</form>